In [1]:
from pathlib import Path
import pandas as pd

In [2]:
PROCESSED_FILE_PATH_PARQUET = 'MMSA_2021.parquet'
PROCESSED_FILE_PATH_CSV = 'MMSA_2021.csv'

In [3]:
# Change the file path
RAW_FILE_PATH = 'MMSA2021_XPT/MMSA2021.xpt'

In [ ]:
def sas_converter(path: str, dest_path: str, file_format: str):
    assert file_format in ['csv', 'parquet']
    
    try:
        #df = pd.read_sas(path, encoding='utf-8')
        df = pd.read_sas(path)
    except pd.errors.ParserError as pe:
        # Catch specific ParserError related to SAS file parsing
        print("Error parsing SAS file:", pe)
    except Exception as e:
        print('Not a valid SAS file.')
        print(e)
    else:
        if file_format == 'csv':
            df.to_csv(dest_path, index=False)
        elif file_format == 'parquet':
            df.to_parquet(dest_path, index=False)

In [ ]:
sas_converter(path=RAW_FILE_PATH, dest_path=PROCESSED_FILE_PATH_CSV, file_format='csv')

In [4]:
data = pd.read_csv(PROCESSED_FILE_PATH_CSV)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227792 entries, 0 to 227791
Columns: 152 entries, DISPCODE to MMSANAME
dtypes: float64(151), object(1)
memory usage: 264.2+ MB

In [6]:
data.head()

,DISPCODE,STATERE1,CELPHON1,LADULT1,COLGSEX,LANDSEX,RESPSLCT,SAFETIME,CADULT1,CELLSEX,...,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1,_MMSA,_MMSAWT,SEQNO,MMSANAME
0,1200.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,...,2.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,10100.0,90.030265,2.021000e+09,"b'Aberdeen, SD, Micropolitan Statistical Area'"
1,1200.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,...,2.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,10100.0,29.643176,2.021000e+09,"b'Aberdeen, SD, Micropolitan Statistical Area'"
2,1200.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,...,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,10100.0,37.000680,2.021000e+09,"b'Aberdeen, SD, Micropolitan Statistical Area'"
3,1200.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,10100.0,49.702755,2.021000e+09,"b'Aberdeen, SD, Micropolitan Statistical Area'"
4,1200.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,...,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79,10100.0,15.396983,2.021000e+09,"b'Aberdeen, SD, Micropolitan Statistical Area'"

In [13]:
data.isna().sum()

DISPCODE         0
STATERE1    172268
CELPHON1    172268
LADULT1     172268
COLGSEX     227774
             ...
_VEGETE1         0
_MMSA            0
_MMSAWT          0
SEQNO            0
MMSANAME         0
Length: 152, dtype: int64